/* Contact.css */

/* Estilos para a seção de contato */
.contact {
  text-align: center;
  padding: 30px 20px;
  background-color: #f4f4f9;
  opacity: 0; /* Inicialmente invisível */
  transform: translateY(50px); /* Inicialmente deslocado para baixo */
  transition: opacity 0.5s ease, transform 0.5s ease; /* Transições suaves */
}

.contact.visible {
  opacity: 1; /* Torna o elemento visível */
  transform: translateY(0); /* Move para a posição original */
}

.contact h2 {
  font-size: 2.1rem;
  color: #004d7a;
  margin-bottom: 20px;
}

.contact p {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 30px;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px; /* Tamanho fixo dos ícones */
  height: 60px;
  font-size: 2rem;
  color: #333;
  transition: transform 0.3s ease, color 0.3s ease;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.social-icon:hover {
  transform: scale(1.2); /* Efeito de zoom in */
  color: #fff;
}

.whatsapp:hover {
  background-color: #25D366; /* Cor do WhatsApp */
}

.facebook:hover {
  background-color: #1877f2; /* Cor do Facebook */
}

.instagram:hover {
  background-color: #e1306c; /* Cor do Instagram */
}

.social-icon i {
  font-size: 2rem;
}
