.footer {
  background: linear-gradient(260deg, rgba(0, 168, 159, 1) 0%, rgba(0, 103, 131, 1) 100%);
  color: #fff;
  text-align: center;
  padding: 1.5rem 1rem;
  font-size: 1rem; /* Fonte padrão */
}

/* Ajustes para telas menores */
@media (max-width: 768px) {
  .footer {
    padding: 1rem 0.5rem; /* Reduz a altura em telas menores */
    font-size: 0.85rem; /* Diminui o tamanho da fonte */
  }
}

@media (max-width: 480px) {
  .footer {
    padding: 0.8rem 0.4rem; /* Reduz ainda mais a altura */
    font-size: 0.75rem; /* Fonte ainda menor para telas muito pequenas */
  }
}
